/*body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #fff;
}*/

a {
    text-decoration: none;
}

.navbar-brand {
    font-size: 1.4em;
}

.nav-link {
    font-size: 1.2em;
}

/*.navbar-nav {
    align-items: center;
}*/

.navbar {
    padding-bottom: 5px;
    padding-top: 5px;
}

.container {
    padding-left: 3vw;
    padding-right: 3vw;
    /*padding-top: 2vw;
    padding-bottom: 2vw;*/
}

#description {
    font-size: 18px;
/*    padding-left: 2vw;*/
}

#proj-description {
    font-size: 19px;
}