body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #319df6;
  color: #fff;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: #319df6;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}





.post-container {
	width: 70%;
	margin: 50px 10%;
	display: block;
}

.post {
	margin: 6px;
	padding: 10px;
	background-color: #fff;
	line-height: 0;
	display: flex;
	flex-wrap: wrap;
}

.likebox {
	display: block;
}

.likeicon, .dislikeicon {
	font-size: 24px;
}

.post-text, .post-author {
	margin-left: 15px;
	flex: 1 1 80%;
}

.post-text {
	color: #0033ff;
	margin-top: 30px;
	font-size: 20px;
}

#text-content {
	color: #0033ff;
}

.post-author {
	font-size: 15px;
	margin-top: 25px;
}

#author-name {
	color: #319df6;
}

#author-name:hover {
	text-decoration: underline;
}






.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}
